{#
/**
 * @file
 * Include theme for Header
 *
 */
#}


{% block header %}
  <header id="header" class="header">
    
    {% if page.header %}
      <div class="header__top">
        {{ page.header }}
        <button class="menu-toggle" aria-label="menu" role="button" aria-controls="primary-menu" aria-expanded="false">
          <span class="screen-reader-text">{{ site_name }}</span>
          <div class="menu-slice"></div>
          <div class="menu-slice"></div>
          <div class="menu-slice"></div>
          <span>{{ 'Menu'|t }}</span>
        </button>
      </div>
    {% endif %}

    {% if page.primary_menu or page.secondary_menu %}
      <div class="header__bottom">
        <div class="header__nav">
          {{ page.primary_menu }}
          {{ page.secondary_menu }}
        </div>
      </div>
    {% endif %}

  </header>
{% endblock header %}