{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

<div class="{{ attributes.class ~ ' accordion accordion__item'}}" {{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <div class="accordion--title">
      <button class="more-less"></button>
      <h3 class="u-font--bold">{{ name }}</h3>
    </div>
  {% endif %}
  {{ title_suffix }}

  <div class="accordion--content">
    <div class="content-wrapper u-cf">
      {{ content }}

      <a href="{{ url }}" class="button button--primary u-space--half--bottom">
        <span>{% trans %}Read More{% endtrans %}</span>
      </a>
      <div class="u-space--bottom">
        <a href="{{ url }}" class="link link--more">
          <span>{% trans %}See Related Thoughtware{% endtrans %}</span>
        </a>
      </div>

    </div>
  </div>

</div>
